body{background-color: MIDNIGHTBLUE;
font-family: 'ZCOOL KuaiLe', cursive; }
h1{text-align: center;
 color: blue;
 font-family: 'Righteous', cursive;}
h2{color: DARKCYAN}
p{color: DARKTURQUOISE;
font-family: 'Fredoka One', cursive}
